<footer class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/airbnb/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/airbnbhelp?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Airbnb,inc
    <a href="#" class="text-decoration-none text-muted">Privacy</a>
    <a href="#" class="text-decoration-none text-muted">Terms</a>
  </div>
</footer>