<div>
<div class="d-flex justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1573047330191-fb342b1be381?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  width: 100%; height:850px">
  <div class="align-self-center" style="width: 50%">
    <h1 class="text-white"><span data-controller="typed-js"></span></h1>
  </div>
</div>
<div class="container d-flex justify-content-center" style="height: 400px">
  <div class="text-center py-5">
    <h1><span data-controller="typed-js"></span></h1>
  </div>
</div>
<div class="card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80');
  width: 100%; height:500px ">
</div>
<div class="container py-5">
  <div class="row justify-content-center">
      <div class="col-6 px-0">
        <img width="100%" height="250px" src="https://images.unsplash.com/photo-1620332372374-f108c53d2e03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80">
      </div>
      <div class="col-6 px-0">
        <img width="100%" height="250px" src="https://images.unsplash.com/photo-1574060603747-421196bce3f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80">
      </div>
  </div>
</div>
<!-- <div class="container">
  <div class="cards">
    <div class="card-trip">
      <div class="card" style='background-image: url("https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80")'>
      </div>
      <div class="py-2">
        <h5 style="margin-bottom: 0.2rem"><strong>Bocas Town, Panama</strong></h5>
        <p style="margin-bottom: 0.2rem">5.481 kilometros</p>
        <p style="margin-bottom: 0.4rem">6 al 12 de sep.</p>
        <h6><strong>Usd 100</strong> noche</h6>
      </div>
      <i class="fa-brands fa-gratipay heart"></i>
    </div>

    <div class="card-trip">
      <div class="card" style='background-image: url("https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80")'>
      </div>
      <div class="py-2">
        <h5 style="margin-bottom: 0.2rem"><strong>Heredia, Costa Rica</strong></h5>
        <p style="margin-bottom: 0.2rem">5.639</p>
        <p style="margin-bottom: 0.4rem">11 al 16 oct.</p>
        <h6><strong>Usd 366</strong> noche</h6>
      </div>
      <i class="fa-brands fa-gratipay heart"></i>
    </div>

    <div class="card-trip">
      <div class="card" style='background-image: url("https://images.unsplash.com/photo-1596436889106-be35e843f974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")'>
      </div>
      <div class="py-2">
        <h5 style="margin-bottom: 0.2rem"><strong>Florida, Estados Unidos</strong></h5>
        <p style="margin-bottom: 0.2rem">7.215 kilometros</p>
        <p style="margin-bottom: 0.4rem">1 al 30 dic.</p>
        <h6><strong>Usd 100</strong> noche</h6>
      </div>
      <i class="fa-brands fa-gratipay heart"></i>
    </div>

    <div class="card-trip">
      <div class="card" style='background-image: url("https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")'>
      </div>
      <div class="py-2">
        <h5 style="margin-bottom: 0.2rem"><strong>Aquitania, Colombia</strong></h5>
        <p style="margin-bottom: 0.2rem">4.703</p>
        <p style="margin-bottom: 0.4rem">1 al 6 de nov.</p>
        <h6><strong>Usd 72</strong> noche</h6>
      </div>
      <i class="fa-brands fa-gratipay heart"></i>
    </div>
  </div>
</div> -->
</div>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis accusamus temporibus pariatur quaerat aperiam fugiat laboriosam doloremque quo est quis repudiandae animi neque, sapiente, ipsam laudantium itaque voluptatem nobis ad.</p>