<div class="reservation-container">
  <h1>My reservations </h1>
    <div class="reservation-card" style="width: 40rem;">
      <% @reservations.each do |reservation| %>
        <div class="reservation-cards">
          <img src=<%= reservation.flat.photo.key %> />
          <div class=".reservation-cards-infos">
            <h2><%= reservation.flat.name %></h2>
            <p><strong><%= reservation.flat.description %></strong></p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      <% end %>
    </div>
</div>
