
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }

  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding-top: 25px;
  }

  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
    margin-bottom: 50px;
  }

  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

  .flat-form {
    padding: 30px;
  }

  .flat-card-img-top{
    width:150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
  }
